@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:300,700';

* {
  font-family: "Open Sans";
  font-weight: 300;
}

.is-heavy {
  font-weight: 700;
}

a.is-brand {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  margin-bottom: 5px !important;
}

div .hero.is-primary a.nav-item, .hero.is-primary .nav-item a:not(.button) {
  color: rgba(255, 255, 255, .8); /* 0.5 is a bit too faint */
}

.dark-background a.is-brand {
  color: white;
}

.dark-background a.is-brand:hover {
  color: #1fc8db;
}


.hidden {
  display: none !important;
}

.radio + .radio {
    margin-left: 10px;
}

.is-warning a {
  /*color: black;*/
  font-weight: 700;
}

.welcome-image {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/gambier-630d6.appspot.com/o/dock_dark.jpg?alt=media&token=550989af-e5a5-4bf8-b09d-ecc2985e0f24'); 
  background-size: cover;
  /*padding: 2em;*/
}
@media (max-width: 768px) {
  .welcome-image {
    min-height: 8em;
  }
}

@media (min-width: 769px) {
  .welcome-image {
    min-height: 24em;
  }
}


.title.home-title {
  color: white;
}
.subtitle.home-subtitle {
  color: white;
  /*padding-bottom: 3em;*/
}

.longwait {
  background-color: pink; 
}
.shortwait {
  background-color: lightgreen; 
}

.hero-foot a {
  font-weight: 700;
}