@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
/*@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700';*/
@import "font-awesome.css";

html {
  font-size: 16px;
}

.content {
  font-weight: 600;
}

* {
  font-family: "Lato";
}

.is-heavy {
  font-weight: 700;
}
figure.image {
  padding-top: 1ex;
  padding-bottom: 1ex;
}

.right-align {
  text-align: right;
}
a.is-brand {
  font-weight: 700;
  margin-bottom: 5px !important;
}

a.is-brand.is-3 {
  font-size: 19px;
}
a.is-brand.is-5 {
  font-size: 16px;
}

div .hero.is-primary a.nav-item, .hero.is-primary .nav-item a:not(.button) {
  color: rgba(255, 255, 255, .8); /* 0.5 is a bit too faint */
}

.dark-background a.is-brand {
  color: white;
}

.dark-background a.is-brand:hover {
  color: #1fc8db;
}


.hidden {
  display: none !important;
}

.radio + .radio {
    margin-left: 10px;
}

.is-warning a {
  /*color: black;*/
  font-weight: 700;
}

.welcome-image {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/gambier-630d6.appspot.com/o/dock_dark.jpg?alt=media&token=550989af-e5a5-4bf8-b09d-ecc2985e0f24'); 
  background-size: cover;
  /*padding: 2em;*/
}
@media (max-width: 768px) {
  .welcome-image {
    min-height: 8em;
  }
}

@media (min-width: 769px) {
  .welcome-image {
    min-height: 24em;
  }
}


.title.home-title {
  color: white;
}
.subtitle.home-subtitle {
  color: white;
  /*padding-bottom: 3em;*/
}

.longwait {
  background-color: pink; 
}
.shortwait {
  background-color: lightgreen; 
}

.hero-foot a {
  font-weight: 700;
}

.table td.no-bottom-border {
  border-bottom: none;
}
.table td.no-top-border {
  /*border-bottom: none;*/
}

.incoming::before {
⇢der-bottom: none;
}
.table td.no-top-border {
  /*border-bottom: none;*/
}

.incoming::before {
  content: "⇢ ";
  margin-left: -2.5ex;
}

@media (min-width: 400px) {
  .outgoing::after {
    content: " ⇢";
    margin-right: 2.5ex;
    /*margin-left: 4.5ex;*/
  }
}
table.table.align-right td {
  text-align: center;
}
table.table.align-right th {
  text-align: center;
}

table.table.schedule tr.good td {
  font-weight: 600;
}
table.table.schedule tr.good td div {
  font-weight: 600;
}

.shift-right-1 {
  position: relative;
  left: 1ex;
}
.shift-right-2 {
  position: relative;
  left: 3ex;
}

.bottom-padding {
  padding-bottom: 1ex;

}

.help.notsmall {
  font-size: inherit;
}
